
.theSuperContainer{
  /* height: 100vh; */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr; /* width*/
  grid-template-rows: 90px 100px minmax(300px, auto) 40px; /* height */
  grid-template-areas:
    ". h "
    ". t "
    ". m "
    ". f ";
}

.headerr{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* grid-template-rows: 60px; */
  grid-area: h;
}
.title{
  /* display: grid; */
  grid-area: t;
  grid-template-rows: 60px;
}
.side{
  display: none;
  left: 0;
}

.menu{
  display: flex;
  flex-direction: column;
}

.sMenuItem{
  padding: 20px 0px 0px 0px;
}

.sTopMenuItem{
  padding-top: 20px;
  padding-bottom: 20px;
}

.musicContainer{
  background-color: none;
  border 1px solid #e1e1e1;
  display: grid;
  grid-area: m;
  /* grid-template-columns: repeat(1, minmax(100px, 1fr)); /* width*/ */
  grid-row-gap: 50px; /* height */
  grid-column-gap: 8px;
}

.f{
  grid-area: f;
}

.playlistContainer{
  background-color: none;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-rows: 299px 30px 400px; /* each playlist item height */
  grid-row-gap: 17px;
}

img{
  max-width:100%;
  max-height:100%;
}


/* ======= media queries ======= */

/* @media only screen and (max-width: 400px){
	label {
		display: block;
		cursor: pointer;
	}
	.menu{
    text-align: center;
    width: 100%;
    display: none;
	}
  .menu a {
    display: block;
    border-bottom: 1px solid white;
  }
  #toggle:checked + .menu {
    display: block;
  }
} */


/* ======= new media queries ======= */

@media only screen and (min-width: 500px){


  .theSuperContainer{
    /* height: 100vh; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(auto,.13fr) 1fr 1fr; /* width*/
    grid-template-rows: 90px 80px minmax(300px, auto) 40px; /* height */
    grid-gap: 10px;
    grid-template-areas:
      ". h h"
      ". t t"
      "s m m"
      ". f f";
  }

  .side{
    display: grid;
    grid-area: s;
    /* position: fixed; */
    grid-row-gap: 50px;
    grid-row-gap: 17px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    /* box-sizing: border-box; */
    left: 0;
  }

  .musicContainer{
    background-color: none;
    border 1px solid #e1e1e1;
    display: grid;
    grid-area: m;
    grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 8px;
  }

  .playlistContainer{
    background-color: none;
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: 299px 30px 400px; /* each playlist item height */
    grid-row-gap: 17px;
  }
}
